@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    color: #002155;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    list-style: disc;
}

.section--lg{
    padding: 80px 0px 50px 0px;
}

.common-heading {
    text-align: center;
    color: #002155;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.secondary-heading {
    text-align: center;
    color: #0a20a0;
    font-size: 38px;
    font-weight: 800;
    margin: 30px 0px;
}

.secondary-color {
    color: #0a20a0;
}

.small-title{
    font-weight: 700;
    font-size: 22px;
}

.secondary-btn {
    padding: 10px 40px;
    background: linear-gradient(90deg, #fcb74e -10.26%, #fbdb4d 110.26%);
    font-weight: 700;
    color: #1a1e41;
    border-radius: 26px;
    width: max-content;
    transition: all .2s;
    position: relative;
}

.secondary-btn:hover {
    padding-right: 57px;
    color: #1a1e41;
}

.secondary-btn i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    opacity: 0;
    transition: all .3s;
}

.secondary-btn:hover i{
    right: 24px;
    opacity: 1;
}

.secondary-heading span{
    font-weight: 500;
    color: #002155;
}

/*===========  HEADER  ==========*/

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;
}

.logo a{
    font-weight: 800;
    font-size: 24px;
    color: #0a20a0;
}

.tj-menu-area  .main-nav {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style: none;
    position: relative;
} 

.tj-menu-area li {
    position: relative;
    font-weight: 600;
}

.tj-menu-area li > a {
    color: #0a20a0;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 2px;
}

.tj-menu-area li a{
    color: #0a20a0;
    font-size: 16px;
}

.tj-menu-area li:hover{
    font-weight: 600;
    transition: transform .35s cubic-bezier(.165,.84,.44,1);
}

.tj-menu-area li.has-dropdown:hover > a::after {
    background-clip: text;
    -webkit-background-clip: text;
}

.tj-menu-area .has-dropdown:hover .sub-menu,  .tj-menu-area .has-dropdown:hover .dropdown-grid{
    top: calc(100% - -20px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.tj-menu-area .has-dropdown .fa-angle-down {
    font-size: 14px;
}

.tj-menu-area .has-dropdown:hover .fa-angle-down{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(180deg) skew(0deg, 0deg); 
    transform-style: preserve-3d;
}

.tj-menu-area li .sub-menu li a.active, .tj-menu-area li .sub-menu li a:hover {
    color: transparent;
}

.tj-menu-area li .sub-menu li a.active::before, .tj-menu-area li .sub-menu li a:hover::before {
    width: 14px;
}

.tj-menu-area li .sub-menu{
    top: calc(100% + 14px);
    position: absolute;
    left: 50%;
    visibility: hidden;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 750px;
    z-index: 1;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 -2px 20px rgba(0,0,0,.1);
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    pointer-events: none;
    transition: all .2s;
    z-index: 5;
}

.menu-item-show-post{
    position: relative !important;
}

.menu-item-show-post .sub-menu, .menu-item-show-post .dropdown-grid {
    width: 545px !important;
    left: 50% !important;
    transform: translateX(-25%) !important;
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 0 !important;
}

.menu-item-show-post .sub-menu:before, .menu-item-show-post .dropdown-grid:before {
    left: 25% !important;
    transform: translate(-50%, -100%) !important;
}

.menu-item-post {
    background-color: #f0f8ff;
    flex: 0 0 190px;
    max-width: 190px;
    padding: 30px 16px;
}

.menu-item-post__img {
    width: 100%;
    height: 123px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
}

.menu-item-post__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.menu-item-post__title {
    font-weight: 600;
    font-size: 1rem;
    line-height: 15px;
    margin-bottom: 6px;
}

.menu-item-post__text {
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 6px;
}

.learn-more-btn {
    color: #002155 !important;
    font-weight: 600;
    margin-bottom: 5px;
    border-bottom: 2px solid #002155;
}

.menu-item-wrap {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 20px 0;
}

.tj-menu-area .has-dropdown .sub-menu::before, .tj-menu-area .has-dropdown .dropdown-grid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    border-bottom: 15px solid #fff;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
}

.tj-menu-area li .sub-menu li, .tj-menu-area li .dropdown-grid li {
    position: relative;
}

.tj-menu-area li .sub-menu li a, .tj-menu-area li .dropdown-grid li a{
    display: block;
    padding: 0 20px;
}

.menu-item-row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    gap: 18px;
    border-radius: 8px;
    background-color: transparent;
    transition: all .3s;
}

.tj-menu-area li .sub-menu li a:hover .menu-item-row, .tj-menu-area li .dropdown-grid li a:hover .menu-item-row {
    background-color: #f0f8ff;
}

.tj-menu-area li .sub-menu li a:hover .menu-item-title svg, .tj-menu-area li .dropdown-grid li a:hover .menu-item-title svg {
    opacity: 1;
    visibility: visible;
    transform: translateX(50%);
}

.menu-item-icon img, .menu-item-row span {
    display: block;
}

.menu-item-icon img{
    height: auto;
    max-width: 100%;
}

.menu-item-content{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.menu-item-icon {
    flex: 0 0 40px;
    max-width: 40px;
}

.menu-item-title {
    max-width: 230px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3;
    color: #002155;
    position: relative;
}

.menu-item-title svg {
    position: absolute;
    top: 3px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all .3s;
}

.menu-item-caption {
    max-width: 230px;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, .7);
}

.right-header {
    display: flex;
    align-items: center;
    gap: 25px;
}

.login {
    color: #0a20a0;
    font-weight: 600;
}

.contact-btn {
    padding: 10px 24px;
    font-weight: 700;
    border-radius: 26px;
    transition: all .3s;
    background-color: #0a20a0;
    border: 1px solid #0a20a0;
    color: #fff;
    position: relative;
    width: max-content;
    box-sizing: border-box; /* Add this line */
}

.contact-btn:hover {
    background-color: #fff;
    color: #0a20a0;
}

.dropdown-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    top: calc(100% + 14px);
    position: absolute;
    left: 50%;
    visibility: hidden;
    transform: translateX(-50%);
    width: 700px;
    z-index: 1;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 -2px 20px rgba(0,0,0,.1);
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    pointer-events: none;
    transition: all .2s;
}

.dropdown-grid ul{
    list-style-type: none;
    padding: 0;
}

/* .tj-menu-area .has-dropdown:hover .dropdown-grid {
    top: calc(100% - -20px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} */



/*=========== HOME / HERO  =============*/

.home__container, .service-inner__container .container{
    display: grid;
    grid-template-columns: 5fr 5fr;
    column-gap: 30px;
    align-items: center;
    border-bottom: 2px solid #fbdd4d;
}

.service-inner__container .container{
    border-bottom: none;
}

.left-home{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-home h1{
    font-size: 54px;
    font-weight: 900;
    line-height: 1.2;
}

.left-home p{
    color: #002155;
    line-height: 2;
    font-size: 18px;
}

.left-home .contact-btn span {
    margin-right: 15px;
}

.right-home video{
    width: 100%;
}





/* CONTACT PAGE CSS */

.contact__page{
    background-color: #f0f8ff;
}

.contact__page-footer, .client-contact__page{
    background: #fff;
}

.contact-page__container .container-fluid{
    display: grid;
    grid-template-columns: 5.5fr 4.5fr;
}

.left__contact-page .secondary-heading{
    font-size: 52px;
    margin-bottom: 5px;
}

.left__contact-page p{
    font-size: 18px;
    line-height: 2.5;
}

.left__contact-page ul{
    list-style-type: none;
    padding: 0;
}

.left__contact-page ul li span{
    color: #0a20a0;
    font-size: 20px;
    margin-right: 15px;
}

.left__contact-page ul li{
    font-size: 18px;
    padding: 15px 0px;
}

.right__contact-page{
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 20px;
}

.right__contact-page .secondary-heading{
    font-size: 22px;
}

.right__contact-page .contact-input input, .right__contact-page .contact-input textarea {
    background-color: #fcfcfc;
    border: 1px solid #e8e8e8;
    box-shadow: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    color: #002155;
    line-height: 18px;
    letter-spacing: .2px;
    padding: 14px 20px;
    width: 100%;
}

.right__contact-page .contact-input input:focus, .right__contact-page .contact-input textarea:focus{
    outline: none;
    border: 2px solid #e8e8e8;
}

.right__contact-page .contact-input{
    padding: 20px 0px;
}

.client-contact__page{
    padding-top: 30px;
    border-bottom: 2px solid #abb8c3;
}

/* FOOTER */

.footer__container{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
}

.footer__container .navigations {
    display: flex;
    gap: 20px;
}

.footer__container .navigations ul {
    list-style: none;
}

.footer__container .navigations ul li{
    padding: 5px 0px;
    color: #002155;
    font-weight: 600;
}

.footer__container .navigations ul li:hover a{
    transition: all .2s;
    color: #0a20a0;
}



.social-accounts {
    display: flex;
    gap: 25px;
}

.social-accounts i{
    font-size: 24px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 20px 20px;
}

.copyright p{
    margin: 0;
    color: grey;
}

.copyright ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}


/* SERVcES PAGE CSS */

.service-inner__container{
    background-image: url('assets/img/dots-texture-hero.svg');
    background-repeat: no-repeat;
    background-position: left top;
    z-index: 5;
}

.who-we-serve__container .container {
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
    gap: 80px;
}

.wws-image {
    flex: 0 0 100%;
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    /* min-height: clamp(23.75rem, 45.1388888889vw, 40.625rem); */
}

.wws-image img {
    width: 100%;
    max-width: 450px;
    height: 100%;
}

.step-process__container {
    background-color: #f0f8ff;
}

.step-img img {
    width: 100%;
    padding-top: 50px;
}

.advantages-gs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 30px;
}

.adv-item{
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
}

.gs-services__container img{
    width: 100%;
}

.benefits-of-service {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    padding-top: 50px;
}

.sc-ff .benefits-of-service{
    grid-template-columns: repeat(3,1fr);
}

.benefits-of-service p{
    margin: 0;
}

.bos__item {
    padding: 20px;
    border: 1px solid #002155;
    border-radius: 20px;
    text-align: center;
    transition: all .3s ease;
}

.bos__item img{
    width: 30%;
}

.bos__item:hover {
    background-color: #fff;
}

.work-flow-inner{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    margin-top: 50px;
}

.work-flow-inner .card {
    border: none;
    border-radius: 100px 100px 10px 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    text-align: center;
    gap: 30px;
    padding: 50px 15px 15px 15px;
}

.work-flow-inner .card img {
    width: 70px;
    margin: 0 auto;
}

.work-flow-inner .card .card-body {
    padding: 0;
}

.work-flow-inner .card .card-text {
    margin: 0;
    font-size: 14px;
}

.contact__banner {
    background-color: #0a20a0;
    padding: 80px 0px;
}

.contact__banner .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.contact__banner .container .secondary-btn{
    margin: 0 auto;
}

.faint-blue-bg {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #f0f8ff;
    top: 0;
    height: 50%;
}

.blue-tag-inner{
    background-color: #0a20a0;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: clamp(2.5rem, 3.4722222222vw, 3.125rem) clamp(1.875rem, 5.2083333333vw, 4.6875rem);
    color: #fff;
    position: relative;
    z-index: 3;
}

.blue-tag-inner h2{
    color: #fbdd4d;
    font-weight: 800;
    text-align: center;
}

.key-points__container {
    background-color: #f0f8ff;
}

.key-points__container .container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    text-align: center;
}

.gray-color{
    color: #4a4a4a;
}

.key-points__item {
    padding: 15px;
    border: 1px solid #002155;
    border-radius: 20px;
}

.key-points-pc__container .cards__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.key-points-pc__container .cards__container .card-item{
    background-color: #fbdb4d;
}

.expediting-content-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.expediting-content-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fbdb4d;
    padding: 20px;
    border-radius: 20px;
}

.expediting-content-item ul{
    padding: 0;
    list-style-type: none;
    font-weight: 500;
}

/* ABOUT PAGE CSS */

.about__container{
    background-image: url('assets/img/dots-texture-hero.svg');
    background-repeat: no-repeat;
    background-position: left top;
    z-index: 5;
}

.about__container .container {
    display: grid;
    grid-template-columns: 6.5fr 5.5fr;
    align-items: center;
}

.about-title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: .06em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 15px;
}

.left-about .secondary-heading {
    font-size: 48px;
}

.right-about img {
    width: 100%;
}

.about-content__container {
    background-color: #f0f8ff;
    width: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left center;
    background-image: url('assets/img/background-container-style-2.svg');
    height: 100%;
}

.about-content__container .container {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 50px;
}

.purpose-content{
    font-size: 18px;
    line-height: 2.5;
}

.left-about-content img, .right-about-content img{
    width: 100%;
}

.truly-global-inner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    text-align: center;
}


.card-item{
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    background-color: #fff;
    padding: 50px 30px;
}

.card-item img {
    width: 80px;
    height: 80px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: left center;
    object-position: left center;
    margin-bottom: 20px;
}

.ex-process__container{
    background-color: #f0f8ff;
}

.gs-process-img img{
    width: 100%;
}

.ex-process__container img{
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

/* PRE ENGINEERED SOLUTION CSS START */

.pre-engg-services__container{
    background-color: #f0f8ff;
}

.pre-engg-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 60px;
}

.pre-engg-item{
    border: 1px solid #002155;
    padding: 20px;
    border-radius: 10px;
    color: #0a20a0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.pre-why-choose-inner{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    margin-top: 50px;
}

.pre-why-choose-item{
        border-radius: 20px;
        box-shadow: 0 10px 15px rgba(0,0,0,.1);
        background-color: #fff;
        padding: 50px 30px;
}


/* INDUSTRIAL FABRICATION CSS START */

.if-vision-mission-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.if-vision-mission-item{
    color: #002155;
    border: 2px solid #0a20a0;
    border-radius: 15px;
    padding: 30px;
}

.if__why-choose .why-choose__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 50px;
}

.if__why-choose .why-choose__card a{
    display: block;
    color: #002155;
    transition: all .3s;
}

.if__why-choose .why-choose__card {
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    flex: 0 0 100%;
    max-width: 100%;
    flex-basis: 0;
    transition: all .4s;
    flex-grow: 1;
}

.if__why-choose .why-choose__card img {
    width: 80px;
    height: 80px;
    -o-object-position: left;
    object-position: left;
    margin-bottom: 20px;
}

.if__why-choose .why-choose__card:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 20px rgba(0,0,0,.2);
}

.if__why-choose .why-us__content{
    line-height: 2;
}

.if-product-grid{
    background-color: #f0f8ff;
}

.if-product-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin-top: 50px;
}

.if-product-img img{
    width: 100%;
    border: 2px solid #0a20a0;
    border-radius: 15px;
    height: 300px;  
    border-radius: 15px;
}


/* AWARDS AND ACHIEVEMENTS CSS START */

.award-content{
    text-align: center;
}

.awards-photos-inner{
    display: grid;
    grid-template-columns: 3.5fr 8.5fr;
    gap: 20px;
}

.awards-photos-inner img{
    width: 100%;
}

.left-award-photo img{
    height: 620px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.right-award-photo.upper, .left-award-photo.lower{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}

.right-award-photo.upper img, .left-award-photo.lower img{
    height: 300px;
}

.right-award-photo.lower img{
    height: 620px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.upper-right-photo img{
    border-top-right-radius: 40px;
}

.lower-right-photo img{
    border-bottom-right-radius: 40px;
}

.awards-photos-inner-lower{
    display: grid;
    grid-template-columns: 8.5fr 3.5fr;
    gap: 20px;
    margin-top: 50px;
}

.awards-photos-inner-lower img{
    width: 100%;
}


/* FAQ PAGE CSS START */

.faq-inner .accordion-item{
    margin: 20px 0px !important;
    border: 0 !important;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2) !important;
}

.faq-inner .accordion-item .accordion-button{
    border-radius: 10px 10px 0px 0px!important;
    background-color: #fff !important;
    color: #002155;
    font-size: 18px !important;
    font-weight: bold;
}

.faq-inner .accordion-item .accordion-button:focus, .faq-inner .accordion-item .accordion-button:not(.collapsed){
    border: 0 !important;
    border-color: unset !important;
    z-index: 0 !important;
}

/* MANUFACTURING PAGES CSS START */


.manufacturing-header__container{
    background-image: url('assets/img/dots-texture-hero.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
    z-index: 5;
}

.manufacturing-header__container .secondary-heading{
    font-size: 52px;
    width: 60%;
    margin: 0 auto;
}

.manufacturing__content-inner {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 3;
}

.manufacturing__content-inner.casting-forging{
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    align-items: start;
} 

.manufacturing__content-inner.casting-forging p{
    line-height: 2;
    font-size: 14px;
}

.left-manufacturing__content p{
    line-height: 2.3;
}

.third-party__container{
    background-color: #f0f8ff;
}

.third-party__inner {
    background-color: #0a20a0;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: clamp(3.75rem, 4.3055555556vw, 3.875rem) 0;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.third-party__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 clamp(1.875rem, 4.5138888889vw, 4.0625rem);
    margin: 0;
}

.fs__container .third-party__item, .fab__container .third-party__item, .st__container .third-party__item, .if__container .third-party__item{
    flex: 0 0 25%;
    max-width: 25%;
}

.if__container .third-party__item{
    padding: 0px clamp(1rem, 4vw, 1rem);
}

.sf__container .third-party__item{
    flex: 0 0 50%;
    max-width: 50%;
}

.product-gallery__container .swiper img{
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0px 20px rgba(0,0,0,.1);;
}

.product-gallery__container .swiper{
    padding: 50px 0px;
}

.product-gallery__container .swiper-pagination-bullet-active {
    background: #0a20a0;
}

.product-gallery__container .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}

.pp-mats .third-party__item{
    flex: 0 0 100%;
    max-width: 100%;
    gap: 10px;
}

.pp-mats .third-party__inner{
    gap: 25px;
}

.pp-mats .third-party__item:not(:last-child)::before{
    display: none;
}

.third-party__item:not(:last-child)::before {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    width: 2px;
    height: 215px;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
}

.pm__container .third-party__item:not(:last-child)::before {
    height: 650px;
}

.fs__container .third-party__item:not(:last-child)::before, .if__container .third-party__item:not(:last-child)::before {
    height: 450px;
}

.fs__container .third-party__item, .fab__container .third-party__item, .st__container .third-party__item{
    padding: 0 clamp(1rem, 4vw, 1rem);
}

.fab__container .third-party__item:not(:last-child)::before {
    height: 900px;
}

.third-party__item h5{
    font-weight: 700;
}

.right-manufacturing__content img{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.types-table__container {
    background-color: #f0f8ff;
}

.types-table__container .faint-blue-bg{
    top: -50%;
}

.forging-solutions-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}



/* BLOG PAGE CSS START */

.blogs-title {
    color: #002155;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}

.article-header .header__container{
    background-color: #f0f8ff;
    margin: 0;
    padding: 1rem;
}

.articles__container{
    background-image: url('assets/img/dots-texture-hero.svg');
    background-repeat: no-repeat;
    background-position: left top;
    z-index: 5;
    background-color: #f0f8ff;
}

.articles__container .secondary-heading {
    font-size: 52px;
}

.blog-main__inner {
    position: relative;
}

.blog-main__inner .container{
    position: relative;
    z-index: 3;
    padding: 0;
    display: grid;
    grid-template-columns: 6fr 6fr;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    background-color: #fff;
    /* min-height: 560px; */
}

.blog-main__inner::before  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #f0f8ff;
    z-index: 1;
}

.left-blog-main img{
    border-radius: 20px 0px 0px 20px;
}

.right-blog-main{
    padding: 30px;
    text-align: start;
}

.right-blog-main .secondary-heading{
    font-size: 24px;
}

.right-blog-main a{
    color: #0a20a0;
    font-weight: 600;
}

.right-blog-main a:hover {
    color: #002155;
}

.right-blog-main a span{
    margin-left: 5px;
}

.search__container .search-inner {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fcfcfc;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    min-height: 68px;
}

.search-inner label {
    margin: 0;
    padding: 0;
    display: block;
}

.label__search {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
}

.label__search svg {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.label__search input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    padding-left: 50px;
    color: #002155;
}

.label__search input:focus {
    outline: none;
    border: 1px solid #e8e8e8;
}

.blogs-grid__inner {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding-bottom: 50px;
}

.blog-grid__item {
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    color: #002155;
    height: 420px;
}

.blog-grid__item-img {
    height: 230px;
    border-radius: 21px 21px 0 0;
}

.blog-grid__item-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.blog-grid__item-content {
    display: flex;
    padding: 30px;
    width: 100%;
    height: calc(100% - 220px);
    background-color: #fff;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.blog-grid__item:hover .blog-grid__item-img img {
    display: none;
}

.blog-grid__item:hover .blog-grid__item-content{
    height: 100%;
}

.blog-grid__item-content h5, .blog-content-title h5{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: .06em;
    text-transform: uppercase;
    color: #4a4a4a;
    margin-bottom: 12px;
}

.blog-grid__item-content h4{
    font-weight: 600;
}

.blog-grid__item-content p, .blog-grid__item-content .blog-grid-a{
    color: #002155;
    opacity: 0;
    transition: all .5s;
}

.blog-grid__item:hover .blog-grid__item-content p, .blog-grid__item:hover .blog-grid__item-content .blog-grid-a{
    opacity: 1;
    color: #002155;
}

.blogs-grid__container .secondary-btn {
    display: flex;
    margin: 0 auto;
}

.blog-header-banner  {
    width: calc(100% - 40px);
    max-width: 1000px;
}

.blog-header-banner img {
    width: 100%;
    height: clamp(13.75rem, 24.3055555556vw, 21.875rem);
    -o-object-fit: cover;
    object-fit: cover;
}

.blog-content-title {
    padding: 40px 0px;
    border-bottom: 2px solid #fbdb4d;
}

.blog-content-title h4{
    font-size: 48px;
}

.blog-content-desc {
    margin-top: 60px;
    max-width: 780px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.related-blog__container {
    background-color: #f0f8ff;
}

.article-tabs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.TabButton {
  color: #0a20a0;
  border: 0;
  border-bottom: 2px solid #abb8c3;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.TabButtonSelected {
  color: #002155 !important;
  border-bottom-color: #0a20a0 !important;
  font-weight: 600;
}

.d-chart-n {
display: none;
}

.d-chart-show {
display: block;
}

.tab-section{
    padding-top: 50px;
}

/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #002155;
    cursor: pointer;
    list-style: none;
    margin: 8px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #fff;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#002155;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
.menu{z-index:1111; font-weight:bold; font-size:16px; width:100%; background-color: #fff;  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
.menu li {display: block;   padding:20px 0 20px 0;  font-weight: 700;}
.menu li:hover{display: block;    background-color: #fff;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#002155;font-size: 14px;}
.menu ul li a:hover {  color: #002155; text-decoration:none;}
.menu a{text-decoration:none; color:#002155;}

.nav__sub li{
    padding: 10px 0px !important;
}

.fa-chevron-right{
    font-size: 12px;
}

.glyphicon-home{
  color: #002155; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 10px;
}

.menu ul .nav__link {
	font-weight: 600;
	color: #002155;
    /* font-family: 'myregularfont'; */
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
    height: 100vh;
	background-color: #fff;
  color: #002155;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.contact-btn-mobile{
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    width: max-content;
    border: 1px solid #002155;
    padding: 10px 20px !important;
    margin-top: 10px;
}


.hamburger, .cross, .menu{
  display: none;
}


@media screen and (max-width:450px) {

    #header, .third-party__item:not(:last-child)::before{
        display: none;
    }

    .mobile-header {
        display: block;
    }

    p, .why-us__content, .purpose-content, .left__contact-page p, .left-home p, .left-manufacturing__content p  {
        font-size: 13px;
        text-align: justify;
        line-height: normal;
    }

    .section--lg {
        padding: 30px 30px 30px 30px;
    }

    .blog-header-banner.section--lg {
        padding: 0px 0px 30px 0px;
    }

    .contact-page__container>.container-fluid{
        padding: 0;
    }

    .right__contact-page input, .right__contact-page textarea{
        padding: 9px 15px;
    }

    .contact-input label{
        font-size: 13px;
    }

    .secondary-heading, .left-about .secondary-heading, .left__contact-page .secondary-heading, .articles__container .secondary-heading, .right-blog-main .secondary-heading, .manufacturing-header__container .secondary-heading, .manufacturing-header__container .secondary-heading{
        font-size: 20px;
        margin: 15px 0px;
    }

    .blog-content-title h4{
        font-size: 20px;
    }

    .left-about .secondary-heading, .left__contact-page .secondary-heading{
        text-align: justify !important;
    }

    .manufacturing-header__container  .secondary-heading{
        width: 100%;
    }

    .cards__container, .industries__item, .why-choose__grid, .home__container, .about__container .container, .about-content__container .container, .contact-page__container .container-fluid, .service-inner__container .container, .who-we-serve__container .container, .benefits-of-service, .blog-main__inner .container, .blogs-grid__inner, .manufacturing__content-inner, .work-flow-inner, .expediting-content-inner, .awards-photos-inner, .awards-photos-inner-lower, .pre-engg-inner, .pre-why-choose-inner, .if-vision-mission-inner, .if__why-choose .why-choose__grid, .if-product-inner {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .right-award-photo.upper img, .left-award-photo.lower img, .left-award-photo img {
        height: auto;
    }

    .work-flow-inner .card {
        padding: 20px 15px 15px 15px;
    }

    .work-flow-inner .card img {
        width: 100px;
    }

    .about-content__container .container, .blog-main__inner .container{
        gap: 0;
    }

    .left__contact-page ul li{
        font-size: 13px;
    }

    .left__contact-page ul li span {
        font-size: 12px;
    }

    .right__contact-page, .manufacturing__content-inner {
        padding: 20px;
    }

    .left-home h1 {
        font-size: 36px;
        font-weight: 900;
        line-height: normal;
    }

    .step-img img{
        padding-top: 0;
    }

    .blue-tag-inner {
        padding: clamp(1rem, 2.4722222222vw, 3rem) clamp(1rem, 5vw, 4rem);
    }

    .left-blog-main img {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }

    .blog-main__inner{
        padding: 20px;
    }

    .small-title {
        font-size: 18px;
    }

    .contact__banner h2, .blue-tag-inner h2{
        font-size: 18px;
    }

    .right-blog-main, .blog-grid__item-content {
        padding: 20px;
    }

    .blog-header-banner img{
        height: auto;
    }

    .blog-content-title {
        padding: 20px 0px;
    }

    .blog-content-desc {
        margin-top: 30px;
        max-width: 780px;
        margin-bottom: 30px;
        font-size: 13px;
        width: auto;
        line-height: normal;
    }

    .third-party__item p{
        text-align: center;
    }

    .third-party__item ul{
        list-style: none;
        text-align: center !important;
        padding-left: 0;
        font-size: 13px;
    }

    .third-party__item{
        gap: 10px;
    }

    .third-party__inner{
        gap: 30px;
    }

    .article-tabs-title >div {
        flex-direction: column;
        gap: 10px !important;
    }

    .TabButton {
        font-size: 13px;
    }

    .article-tabs-title{
        flex-direction: column;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        font-size: 13px;
    }

    .related-blog__container .container {
        padding: 0;
    }

    .footer__container .navigations, .copyright, .third-party__inner {
        flex-direction: column;
    }

    .third-party__item,  .if__container .third-party__item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .social-accounts {
        margin-top: 25px;
    }

    .navigations ul{
        padding: 0;
    }

    .copyright p{
        font-size: 12px;
    }
    
}


@media screen and (max-width:768px) {

    #header, .third-party__item:not(:last-child)::before{
        display: none;
    }

    .mobile-header {
        display: block;
    }

    ul li{
        font-size: 13px;
    }

    p, .why-us__content, .purpose-content, .left__contact-page p, .left-home p, .left-manufacturing__content p  {
        font-size: 13px;
        text-align: justify;
        line-height: normal;
    }

    .section--lg {
        padding: 30px 30px 30px 30px;
    }

    .secondary-heading, .left-about .secondary-heading, .left__contact-page .secondary-heading, .articles__container .secondary-heading, .right-blog-main .secondary-heading, .manufacturing-header__container .secondary-heading, .manufacturing-header__container .secondary-heading{
        font-size: 24px;
        margin: 15px 0px;
    }

    .blog-content-title h4{
        font-size: 20px;
    }

    .left-about .secondary-heading, .left__contact-page .secondary-heading{
        text-align: justify !important;
    }

    .manufacturing-header__container  .secondary-heading{
        width: 100%;
    }

    .cards__container, .industries__item, .why-choose__grid, .home__container, .about__container .container, .about-content__container .container, .contact-page__container .container-fluid, .if-vision-mission-inner, .if-product-inner{
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .if-product-img img{
        height: auto;
    }

    .blog-main__inner .container{
        min-height: 335px;
    }

    .about-content__container .container, .blog-main__inner .container{
        gap: 0;
    }

    .left__contact-page ul li{
        font-size: 13px;
    }

    .left__contact-page ul li span {
        font-size: 12px;
    }

    .right__contact-page, .manufacturing__content-inner {
        padding: 20px;
    }

    .left-home h1 {
        font-size: 36px;
        font-weight: 900;
        line-height: normal;
    }

    .step-img img{
        padding-top: 0;
    }

    .blue-tag-inner {
        padding: clamp(1rem, 2.4722222222vw, 3rem) clamp(1rem, 5vw, 4rem);
    }

    .left-blog-main img {
        width: 100%;
    }

    .blog-grid__item-img {
        height: auto;
    }

    .blog-grid__item{
        height: 430px;
    }

    .blog-grid__item-content {
        height: calc(100% - 180px);
    }

    .blog-main__inner{
        padding: 20px;
    }

    .small-title {
        font-size: 18px;
    }

    .contact__banner h2, .blue-tag-inner h2{
        font-size: 18px;
    }

    .right-blog-main, .blog-grid__item-content {
        padding: 20px;
    }

    .blog-header-banner img{
        height: auto;
    }

    .blog-content-title {
        padding: 20px 0px;
    }

    .blog-content-desc {
        margin-top: 30px;
        max-width: 780px;
        margin-bottom: 30px;
        font-size: 13px;
        width: auto;
        line-height: normal;
    }

    .third-party__item p{
        text-align: center;
    }

    .third-party__item ul{
        list-style: none;
        text-align: center !important;
        padding-left: 0;
        font-size: 13px;
    }

    .third-party__item{
        gap: 10px;
    }

    .third-party__inner{
        gap: 30px;
    }

    .footer__container {
        display: flex;
        gap: 10px;
        padding: 30px 20px;
        font-size: 14px;
    }

    .related-blog__container .container {
        padding: 0;
    }

    .third-party__inner {
        flex-direction: column;
        padding: clamp(1rem, 2vw, 1rem) 0;
    }

    .third-party__item , .fab__container .third-party__item, .st__container .third-party__item, .sf__container .third-party__item, .if__container .third-party__item{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 clamp(1rem, 4.5138888889vw, 4rem);
    }

    .social-accounts {
        margin-top: 25px;
    }

    .navigations ul{
        padding: 0;
    }

    .copyright p{
        font-size: 12px;
    }
    
}