@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#preloader{
    background:  url('assets/img/loader.gif') no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
  }


body {
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    color: #122562;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    list-style: disc;
}

.section--lg{
    padding: 50px 0px 80px 0px;
}

.common-heading {
    text-align: center;
    color: #122562;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.secondary-heading {
    text-align: center;
    color: #e31e24;
    font-size: 38px;
    font-weight: 800;
    margin: 30px 0px;
}

.red-font{
    color: #e31e24;
}

.secondary-color {
    color: #122562;
}

.small-title{
    font-weight: 700;
    font-size: 20px;
}

.secondary-btn {
    padding: 10px 40px;
    background: linear-gradient(90deg, #fcb74e -10.26%, #fbdb4d 110.26%);
    font-weight: 700;
    color: #1a1e41;
    border-radius: 26px;
    width: max-content;
    transition: all .2s;
    position: relative;
}

.secondary-btn:hover {
    padding-right: 57px;
    color: #1a1e41;
}

.secondary-btn i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    opacity: 0;
    transition: all .3s;
}

.secondary-btn:hover i{
    right: 24px;
    opacity: 1;
}

/*===========  HEADER  ==========*/

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;
}

.logo a img{
    width: 100px;
}

.tj-menu-area  .main-nav {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style: none;
    position: relative;
} 

.tj-menu-area li {
    position: relative;
    font-weight: 600;
}

.tj-menu-area li > a {
    color: #122562;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 2px;
}

.tj-menu-area li a{
    color: #122562;
    font-size: 16px;
}

.tj-menu-area li:hover{
    font-weight: 600;
    transition: transform .35s cubic-bezier(.165,.84,.44,1);
}

.tj-menu-area li.has-dropdown:hover > a::after {
    background-clip: text;
    -webkit-background-clip: text;
}

.tj-menu-area .has-dropdown:hover .sub-menu,  .tj-menu-area .has-dropdown:hover .dropdown-grid{
    top: calc(100% - -15px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.tj-menu-area .has-dropdown .fa-angle-down {
    font-size: 14px;
}

.tj-menu-area .has-dropdown:hover .fa-angle-down{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(180deg) skew(0deg, 0deg); 
    transform-style: preserve-3d;
}

.tj-menu-area li .sub-menu li a.active, .tj-menu-area li .sub-menu li a:hover {
    color: transparent;
}

.tj-menu-area li .sub-menu li a.active::before, .tj-menu-area li .sub-menu li a:hover::before {
    width: 14px;
}

.tj-menu-area li .sub-menu{
    top: calc(100% + 14px);
    position: absolute;
    left: 50%;
    visibility: hidden;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 750px;
    z-index: 1;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 -2px 20px rgba(0,0,0,.1);
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    pointer-events: none;
    transition: all .2s;
}

.menu-item-show-post{
    position: relative !important;
}

.menu-item-show-post .sub-menu, .menu-item-show-post .dropdown-grid {
    width: 545px !important;
    left: 50% !important;
    transform: translateX(-25%) !important;
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 0 !important;
}

.menu-item-show-post .sub-menu:before, .menu-item-show-post .dropdown-grid:before {
    left: 25% !important;
    transform: translate(-50%, -100%) !important;
}

.menu-item-post {
    background-color: #f0f8ff;
    flex: 0 0 190px;
    max-width: 190px;
    padding: 30px 16px;
}

.menu-item-post__img {
    width: 100%;
    height: 123px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
}

.menu-item-post__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.menu-item-post__title {
    font-weight: 600;
    font-size: 1rem;
    line-height: 15px;
    margin-bottom: 6px;
}

.menu-item-post__text {
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 6px;
}

.learn-more-btn {
    color: #122562 !important;
    font-weight: 600;
    margin-bottom: 5px;
    border-bottom: 2px solid #122562;
}

.menu-item-wrap {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 20px 0;
}

.tj-menu-area .has-dropdown .sub-menu::before, .tj-menu-area .has-dropdown .dropdown-grid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    border-bottom: 15px solid #fff;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
}

.tj-menu-area li .sub-menu li, .tj-menu-area li .dropdown-grid li {
    position: relative;
}

.tj-menu-area li .sub-menu li a, .tj-menu-area li .dropdown-grid li a{
    display: block;
    padding: 0 20px;
}

.menu-item-row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    gap: 18px;
    border-radius: 8px;
    background-color: transparent;
    transition: all .3s;
}

.tj-menu-area li .sub-menu li a:hover .menu-item-row, .tj-menu-area li .dropdown-grid li a:hover .menu-item-row {
    background-color: #f0f8ff;
}

.tj-menu-area li .sub-menu li a:hover .menu-item-title svg, .tj-menu-area li .dropdown-grid li a:hover .menu-item-title svg {
    opacity: 1;
    visibility: visible;
    transform: translateX(50%);
}

.menu-item-icon img, .menu-item-row span {
    display: block;
}

.menu-item-icon img{
    height: auto;
    max-width: 100%;
}

.menu-item-content{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.menu-item-icon {
    flex: 0 0 40px;
    max-width: 40px;
}

.menu-item-title {
    max-width: 230px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3;
    color: #122562;
    position: relative;
}

.menu-item-title svg {
    position: absolute;
    top: 3px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all .3s;
}

.menu-item-caption {
    max-width: 230px;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, .7);
}

.right-header {
    display: flex;
    align-items: center;
    gap: 25px;
}

.login {
    color: #122562;
    font-weight: 600;
}

.contact-btn {
    padding: 10px 24px;
    font-weight: 700;
    border-radius: 26px;
    transition: all .3s;
    background-color: #122562;
    border: 1px solid #122562;
    color: #fff;
    position: relative;
    width: max-content;
    box-sizing: border-box; /* Add this line */
}

.contact-btn:hover {
    background-color: #fff;
    color: #122562;
}

.dropdown-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    top: calc(100% + 14px);
    position: absolute;
    left: 50%;
    visibility: hidden;
    transform: translateX(-50%);
    width: 700px;
    z-index: 1;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 -2px 20px rgba(0,0,0,.1);
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    pointer-events: none;
    transition: all .2s;
}

.dropdown-grid ul{
    list-style-type: none;
    padding: 0;
}

/* .tj-menu-area .has-dropdown:hover .dropdown-grid {
    top: calc(100% - -20px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} */



/*=========== HOME / HERO  =============*/

.home__container, .service-inner__container .container{
    display: grid;
    grid-template-columns: 6.5fr 5.5fr;
    column-gap: 20px;
    align-items: center;
    border-bottom: 2px solid #029fe2;
}

.service-inner__container .container{
    border-bottom: none;
}

.left-home{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-home h1{
    font-size: 42px;
    font-weight: 900;
    line-height: 1.2;
}

.left-home p{
    color: #122562;
    line-height: 2;
    font-size: 18px;
}

.left-home .contact-btn span {
    margin-right: 15px;
}

.form-modal{
    cursor: pointer;
    font-weight: 700;
}

/* popup-form css start */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #888;
    width: 60%;
  }

  .modal-content form {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    align-items: center;
  }

  .modal-content form .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .modal-content form .form-group input, .modal-content form .form-group textarea{
    border: 1px solid #e8e8e8;
    padding: 10px;
    border-radius: 10px;
  }

  .modal-content form .form-group input:focus, .modal-content form .form-group textarea:focus{
    outline: none;
    border-width: 2px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* popup-form css end */

.right-home video{
    width: 100%;
}

.client__container marquee {
    margin: 50px 0px;
}

.client__container marquee img{
    margin: 0 40px;
}

.services__container{
    background-color: #f0f8ff;
}

.secondary-heading span{
    font-weight: 500;
    color: #122562;
}

.services__container p{
    text-align: center;
    line-height: 1.8;
    color: #122562;
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
}

.cards__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}

.card-item{
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    background-color: #fff;
    padding: 50px 30px;
}

.card-item img {
    width: 80px;
    height: 80px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: left center;
    object-position: left center;
    margin-bottom: 20px;
}

.card-item ul li{
    padding: 5px 0px;
}

.card-item ul{
    margin-top: 15px;
}

.industries__item {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}

.industries__item-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.industries__item-inner img {
    width: 150px;
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 10px;
}

.manufacturing__container{
    background-color: #f0f8ff;
}

.manufacturing-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    row-gap: 40px;
    padding-top: 30px;
}

.manufacturing-inner img{
    width: 100%;
    height: 130px;
}

.manufacturing-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    padding: 20px;
    box-shadow:  0 10px 15px rgba(0,0,0,.1);
    border-radius: 20px;
}


.left-wc{
    width: 100%;
    border-radius: 20px;
}

.right-wc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-wc p{
    line-height: 1.8;
}

.why-choose__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
    row-gap: 30px;
    padding-top: 50px;
}

.why-choose__card a{
    display: block;
    color: #122562;
    transition: all .3s;
}

.why-choose__card {
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    flex: 0 0 100%;
    max-width: 100%;
    flex-basis: 0;
    transition: all .4s;
    flex-grow: 1;
}

.why-choose__card img {
    width: 80px;
    height: 80px;
    -o-object-position: left;
    object-position: left;
    margin-bottom: 20px;
}

.why-choose__card:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 20px rgba(0,0,0,.2);
}

.why-us__content{
    line-height: 2;
}

.related-blog__container, .articles__container {
    background-color: #f0f8ff;
}

.youtube-linkedin-links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.youtube-links, .linkedin-posts{
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    background-color: #fff;
    padding: 30px;
}

.youtube-links ul li, .linkedin-posts ul li{
    margin: 10px 0px;
}


.blogs-grid__inner {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding-bottom: 50px;
}

.blog-grid__item {
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    color: #122562;
    height: 560px;
}

.blog-grid__item-img {
    height: 305px;
    border-radius: 21px 21px 0 0;
}

.blog-grid__item-img img {
    width: 100%;
    height: 100%;
}
.blog-grid__item-content {
    display: flex;
    padding: 30px;
    width: 100%;
    height: calc(100% - 300px);
    background-color: #fff;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.blog-grid__item:hover .blog-grid__item-img img {
    display: none;
}

.blog-grid__item:hover .blog-grid__item-content{
    height: 100%;
}

.blog-grid__item-content h5, .blog-content-title h5{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: .06em;
    text-transform: uppercase;
    color: #4a4a4a;
    margin-bottom: 12px;
}

.blog-grid__item-content h4{
    font-weight: 600;
}

.blog-grid__item-content p, .blog-grid__item-content .blog-grid-a{
    color: #122562;
    opacity: 0;
    transition: all .5s;
}

.blog-grid__item:hover .blog-grid__item-content p, .blog-grid__item:hover .blog-grid__item-content .blog-grid-a{
    opacity: 1;
    color: #122562;
}

.blogs-grid__container .secondary-btn {
    display: flex;
    margin: 0 auto;
}


.contact__banner {
    background-color: #122562;
    padding: 80px 0px;
}

.contact__banner .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.contact__banner .container .secondary-btn{
    margin: 0 auto;
}


/* CONTACT PAGE CSS */

.contact__page{
    background-color: #f0f8ff;
}

.contact__page-footer, .client-contact__page{
    background: #fff;
}

.contact-page__container .container-fluid{
    display: grid;
    grid-template-columns: 5.5fr 4.5fr;
}

.left__contact-page .secondary-heading{
    font-size: 52px;
    margin-bottom: 5px;
}

.left__contact-page p{
    font-size: 18px;
    line-height: 2.5;
}

.left__contact-page ul{
    list-style-type: none;
    padding: 0;
}

.left__contact-page ul li span{
    color: #122562;
    font-size: 20px;
}

.left__contact-page ul li{
    font-size: 18px;
    padding: 15px 0px;
}

.right__contact-page{
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 20px;
}

.right__contact-page .secondary-heading{
    font-size: 22px;
}

.right__contact-page input, .right__contact-page textarea {
    background-color: #fcfcfc;
    border: 1px solid #e8e8e8;
    box-shadow: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    color: #122562;
    line-height: 18px;
    letter-spacing: .2px;
    padding: 14px 20px;
    width: 100%;
}

.right__contact-page input:focus, .right__contact-page textarea:focus{
    outline: none;
    border: 2px solid #e8e8e8;
}

.right__contact-page .contact-input{
    padding: 20px 0px;
}

.client-contact__page{
    padding-top: 30px;
    border-bottom: 2px solid #abb8c3;
}

/* FOOTER */

.footer__container{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
}

.footer__container .navigations {
    display: flex;
    gap: 20px;
}

.footer__container .navigations ul {
    list-style: none;
}

.footer__container .navigations ul li{
    padding: 5px 0px;
    color: #122562;
    font-weight: 600;
}

.footer__container .navigations ul li:hover a{
    transition: all .2s;
    color: #122562;
}


.social-accounts {
    display: flex;
    gap: 25px;
}

.social-accounts i{
    font-size: 24px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 20px 20px;
}

.keywords{
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
}

.copyright p, .keywords p{
    margin: 0;
    color: grey;
}

.copyright ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}


/* SERVIES PAGE CSS */

.service-inner__container{
    background-image: url('assets/img/dots-texture-hero.svg');
    background-repeat: no-repeat;
    background-position: left top;
    z-index: 5;
}



/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #122562;
    cursor: pointer;
    list-style: none;
    margin: 8px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #fff;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#122562;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
.menu{z-index:1111; font-weight:bold; font-size:16px; width:100%; background-color: #fff;  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
.menu li {display: block;   padding:20px 0 20px 0;  font-weight: 700;}
.menu li:hover{display: block;    background-color: #fff;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#122562;font-size: 14px;}
.menu ul li a:hover {  color: #122562; text-decoration:none;}
.menu a{text-decoration:none; color:#122562;}

.nav__sub li{
    padding: 10px 0px !important;
}

.fa-chevron-right{
    font-size: 12px;
}

.glyphicon-home{
  color: #122562; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 10px;
}

.menu ul .nav__link {
	font-weight: 600;
	color: #122562;
    /* font-family: 'myregularfont'; */
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
    height: 100vh;
	background-color: #fff;
  color: #122562;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.contact-btn-mobile{
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    width: max-content;
    border: 1px solid #122562;
    padding: 10px 20px !important;
    margin-top: 10px;
}


.hamburger, .cross, .menu{
  display: none;
}




/* MEDIA QUERIES */


@media screen and (max-width:450px) {

    #header{
        display: none;
    }

    .mobile-header{
        display: block;
      }

    p, .why-us__content{
        font-size: 13px;
    }

    .modal-content{
        width: 100%;
        padding: 20px;
    }

    .section--lg {
        padding: 30px 30px 30px 30px;
    }
    
    .left-home h1 {
        font-size: 36px;
        text-align: justify;
    }

    .left-home p{
        font-size: 14px;
        line-height: normal;
        text-align: justify;
    }

    .secondary-heading{
        font-size: 24px;
        margin: 15px 0px;
    }

    .services__container p{
        width: 100%;
        font-size: 12px;
    }

    .cards__container, .industries__item, .why-choose__grid, .home__container, .blogs-grid__inner, .manufacturing-inner, .youtube-linkedin-links {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .right-home{
        display: none;
    }

    .industries__item{
        padding-top: 30px;
    }

    .card-item, .why-choose__card {
        padding: 30px 10px;
        text-align: center;
    }

    .card-item img {
        width: 50px;
        height: 50px;
    }

    .small-title {
        font-size: 18px;
    }

    .card-item ul {
        margin-top: 15px;
        padding: 0;
        list-style-type: none;
    }

    .card-item ul li {
        font-size: 12px;
    }

    .industries__item-inner img {
        width: 25%;
    }

    .industries__item-inner, .why-choose__grid{
        padding-top: 0;
    }

    .blog-grid__item-content {
        padding: 20px;
    }
    

    .contact__banner h2{
        font-size: 18px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        font-size: 13px;
    }

    .footer__container .navigations, .copyright {
        flex-direction: column;
    }

    .social-accounts {
        margin-top: 25px;
    }

    .navigations ul{
        padding: 0;
    }

    .copyright p{
        font-size: 12px;
    }
    
}

@media screen and (max-width:768px) {

    #header{
        display: none;
    }

    .mobile-header{
        display: block;
      }

    p, .why-us__content{
        font-size: 14px;
    }

    .section--lg {
        padding: 30px 30px 30px 30px;
    }
    
    .left-home h1 {
        font-size: 36px;
        text-align: justify;
    }

    .left-home p{
        font-size: 14px;
        line-height: normal;
        text-align: justify;
    }

    .secondary-heading{
        font-size: 24px;
        margin: 15px 0px;
    }

    .services__container p{
        width: 100%;
        font-size: 12px;
    }

    .cards__container, .industries__item, .why-choose__grid, .home__container, .youtube-linkedin-links {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }


    .industries__item{
        padding-top: 30px;
    }

    .blog-grid__item-content {
        padding: 20px;
    }
    
    .blog-grid__item-img {
        height: auto;
    }

    .blog-grid__item{
        height: 430px;
    }

    .blog-grid__item-content {
        height: calc(100% - 180px);
    }

    .card-item, .why-choose__card {
        padding: 30px 10px;
        text-align: center;
    }

    .card-item img {
        width: 50px;
        height: 50px;
    }

    .small-title {
        font-size: 18px;
    }

    .card-item ul {
        margin-top: 15px;
        padding: 0;
        list-style-type: none;
    }

    .card-item ul li {
        font-size: 12px;
    }

    .industries__item-inner img {
        width: 25%;
    }

    .industries__item-inner, .why-choose__grid{
        padding-top: 0;
    }

    .contact__banner h2{
        font-size: 18px;
    }

    .footer__container {
        display: flex;
        gap: 10px;
        padding: 30px 20px;
        font-size: 14px;
    }


    .social-accounts {
        margin-top: 25px;
    }

    .navigations ul{
        padding: 0;
    }

    .copyright p{
        font-size: 12px;
    }
    
}